.bounding-box{
    position: absolute;
    box-shadow: 0 0 0 2px #f61c65 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}



#inputimage{
    max-width: 800px;
    width: 98.5vw;
    border: 3px solid black;
}

.imagebox{
    margin-bottom: 60px !important
}